<template>
  <div>
    <banner
      :banner-title="projectTitle"
      :image-path="bannerPath"
      :image-text="imageText"
      :show-project-link="true"
      :project-link="projectLink"
      :show-bitbucket="true"
      :bitbucket-link="bitbucketLink"
    />
    <section>
      <article class="overview">
        <div class="header">
          <h2>Overview</h2>
        </div>
        <div class="image">
          <img src="/images/bee-centre/overview.png" alt="A picture of some orange post-it notes on a wooden background">
        </div>
        <section class="content">
          <p>
            This project aimed to build a website that was suitable for parents and children. The website should help
            to increase the number of visitors to the organisation. This could be done by promoting their location,
            offers and what they do.
          </p>
          <p>
            Another part of their business is the service where they offer to visit schools to deliver information
            about bees. This allows children in schools to learn more about bees and have a fun time. Therefore, the
            website will need to promote this and appear professional yet fun.
          </p>
          <p>
            The logo and other resources have been supplied meaning that the website should suit the logo and the other
            resources. They have also defined that they would like the colour scheme to be yellow, black and grey. To
            help the creation of the website the client has also supplied content that they would like to have on each
            of the pages. This will make it easier to design the website.
          </p>
          <p>
            In order to improve my skillset, this project will be completed using a JavaScript framework. The chosen
            framework is Nuxt JS, which is based upon the Vue JS framework. Nuxt JS is a framework that is becoming
            more popular. Using components will make it easier to scale the application if it is needed.
          </p>
        </section>
      </article>
      <article class="research">
        <div class="header">
          <h2>Research</h2>
        </div>
        <div class="image">
          <img src="/images/bee-centre/research.png" alt="A screen shot of the landing page of Twycross zoo which consists of bold colours and text">
        </div>
        <div class="content">
          <p>
            This project required a slightly different approach to other projects as it required research to be
            conducted on existing sites. This included sites like
            <a href="https://twycrosszoo.org/" target="_blank">Twycross Zoo</a> and
            <a href="https://thebeecentre.org/" target="_blank">The Bee Centre</a> which are
            relevant websites. As they aim to get the audience to come and visit the organisation.
          </p>
          <p>
            The Bee Centre website is fairly dark and uses black as a background colour with white text.
            This might not appeal to children as it is quite dark and not really colourful. Compared to the Twycross
            zoo website which is more colourful and attractive to younger users. With Twycross using lighter colours,
            it appears to be clearer and more modern.
          </p>
          <p>
            When using this research to inform the designs it is best to use brighter colours and keep the darker colours
            to a minimum. This will make it more attractive to the younger. It will also need to be modern, this will make
            the parents and education providers take the website seriously when considering a visit or wanting them to visit
            the school and give a talk.
          </p>
        </div>
      </article>
      <article class="design">
        <div class="header">
          <h2>Design</h2>
        </div>
        <div class="image">
          <img src="/images/bee-centre/design.png" alt="A screen shot of the mobile designs for the Bee Centre website">
        </div>
        <div class="content">
          <p>
            As with all of the projects undertaken this project had ideas drawn using pen and paper. This allowed multiple
            ideas to be used for areas of the design such as the menu and icons. It was during this stage that the idea of
            using hexagons to create a honey com effect was chosen. This will be used for buttons and as an overlay on the
            images and will bring the design together.
          </p>
          <p>
            Once some ideas have been created they can then be put into a design for the website. This project was designed in
            Figma. Figma allows components to be created. This can be an indication of how to build the application in the
            JavaScript framework. Three different designs have been created in the Figma workspace. These designs relate to
            the different sizes of device. There are designs for a mobile, landscape tablet and desktop device. These designs
            are all interactive allowing the website to be played with before the coding can take place.
          </p>
          <p>
            In the designs, there is an obvious black and yellow pattern. This is to replicate the colours and patterns of
            the typical bee. Each of the different colours is phased in using the honeycomb pattern over the image in the
            that has been attached to the content in the section above. Each of the pages, in the order of the intended flow,
            start with the alternating colours in the same way you go down the page.
          </p>
          <p>
            When the images have been selected, they usually will have one or more bees in. The way they are facing should
            be towards the honeycomb pattern that is overlapping. This to make it look like the bee is flying towards the
            honeycomb pattern. The only time this does not happen is at the end of the content. This is because it indicated
            that it is the end of the main content.
          </p>
        </div>
      </article>
      <article class="build">
        <div class="header">
          <h2>Build</h2>
        </div>
        <div class="image">
          <img src="/images/bee-centre/build.png" alt="A screenshot of the code that is used to build the team page.">
        </div>
        <div class="content">
          <p>
            Using a JavasScript framework like Nuxt is something that was relatively new to me with this being only
            the second project that I have used it in. Getting used to how the component work can be difficult.
            However, during this project, I was able to create various components that can and have been re-used throughout
            the website. The main example of this is the banner text. This was created as a component which handled the masked
            text that is used on every page of the website. The means that if it needs to be updated there is only one place
            that it needs to be updated.
          </p>
          <p>
            The image shows the code that is used to build the team profiles on the page. Instead of writing the HTML for every
            team member, the application will loop over an array of objects which contain the information needed to build their
            profile. This means new team members can easily be added to the website after adding the headshot to the correct folder.
          </p>
          <p>
            The use of components could have been used more to help create the content sections as they follow a particular
            pattern and just need the content to be changed depending on the section that they are intended for. This would
            also make it easier to maintain for other developers.
          </p>
        </div>
      </article>
      <article class="testing">
        <div class="header">
          <h2>Testing</h2>
        </div>
        <div class="image">
          <img src="/images/bee-centre/testing.png" alt="An image of an ipad with the meet the team page open for the bee centre">
        </div>
        <div class="content">
          <p>
            This project is similar to the V&amp;A generous interface. As this project is more about how the website looks and
            how easy it is to interact with. This would suggest that manual testing would be more beneficial as it would
            allow the usability to be better tested as the hit areas can be tested more effectively.
          </p>
          <p>
            To show that this website is ready it was put through some device testing. This meant that various devices were
            used to make sure that all of the content can be seen on the website and all of the buttons could be used by
            different users. If device testing was not carried out the website might not function properly. This would mean
            that the users would become frustrated as they would not be able to accomplish the goal they set out to complete.
            While testing this website on an Ipad it was noticed that the text was sometimes too large and as a result, the
            webpage was wider than the window. When scrolling on a website a user would not expect that they would have to
            scroll sideways. In order to fix it, the font size was reduced from the original size for tablets.
          </p>
          <p>
            As well as device testing it is also beneficial to complete some browser testing. This will make sure that the
            website looks the same on different browsers and not have issues when rendering the content on the page.
            Originally, the SVGs for the website were being placed directly into the code for the website. This makes it
            easier to customise the SVGs and also reduces that page load time as fewer requests are having to be made.
            However, when testing this application in Safari it was noticed that the SVG were either rendering in full
            or were not rendering. The decision was then made to keep the SVG, which will keep file size to the minimum,
            and load them in the same way as normal images. This meant that they could be resized and moved around the page
            easily. If it was not for browser testing this would not have been picked up.
          </p>
        </div>
      </article>
      <article class="review">
        <div class="header">
          <h2>Review</h2>
        </div>
        <div class="image">
          <img src="/images/projects/review.png" alt="A mind map with the bubbles asking questions about the project like What went well?">
        </div>
        <div class="content">
          <p>
            One of the problems faced in this project was the unknown of Nuxt JS. This was a new framework and has only
            ever been used once before. As a result, the time that was taken to build the project was longer than originally
            anticipated. While ordinarily this would not be ideal, the original reason for picking this project was because
            it gave the scope to start working with JavaScript frameworks. Something that has been lacking in my work. Now
            that the project is completed, I can say that I am much more comfortable using a framework.
          </p>
          <p>
            In the future, it might be worthwhile looking at other frameworks and how they could be implemented into other
            projects. This would then allow me to decide which framework I prefer to work with.
          </p>
          <p>
            Figma was used in this project. It was used to create the prototype of the website. This made the process of
            designing the website easier and quicker as it could be quickly changed and tested without needed to open the
            text editor and creating the HTML and CSS needed. This is an application that I will keep on working with and
            look to improve my skills with. This will allow the interfaces I build to be more intuitive and easier to use.
          </p>
        </div>
      </article>
    </section>
  </div>
</template>

<script>
import banner from '@/components/projects/show-banner'

export default {
  layout: 'project',
  components: {
    banner
  },
  data () {
    return {
      projectTitle: 'Bee Centre Website',
      bannerPath: '/images/bee-centre/landing_screenshot.png',
      imageText: 'An image showing the collections interface with fifty images of items and one item in full view',
      projectLink: 'https://bee-centre-23249391.herokuapp.com/',
      bitbucketLink: 'https://bitbucket.org/ryanpegg98/cis3159-bee-centre/src/master/'
    }
  }
}
</script>

<style lang="scss" scoped>
  SECTION > ARTICLE {
    background-color: $blue;
    color: $white;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 15rem 3rem 3rem auto;

    H2 {
      @include outline_font($white, 3px);
      font-size: 3.3rem;
      margin: 0;
      padding: 0 1.5rem;
    }

    .image {
      grid-column: 1;
      grid-row: 1 / 3;

      position: relative;
      overflow: hidden;

      IMG {
        top: 0;
        left: 0;
        width: 100%;
        position: absolute;
        z-index: 0;
      }
    }

    .header {
      grid-row: 2 / 4;
      grid-column: 1;
      position: relative;
      z-index: 2;
      @include flex_center_center;
    }

    .content {
      grid-row: 4;
      grid-column: 1;
      text-align: center;
      padding: 1.5rem;
      box-sizing: border-box;

      A {
        color: $blue;
        text-decoration: none;

        &:hover {
          text-decoration: underline;
        }
      }

      @include tablet_device {
        width: 75%;
        margin: 0 auto;
      }
    }

    @include landscape_tablet_device {
      grid-template-columns: 2fr 5fr;
      grid-template-rows: 10rem auto;

      .header {
        grid-column: 2;
        grid-row: 1;
        justify-content: flex-start;

        H2 {
          font-size: 4rem;
        }
      }

      .image {
        grid-column: 1;
        grid-row: 1 / 3;

        IMG {
          width: auto;
          min-width: 100%;
          min-height: 100%;
          max-height: 200%;
          top: 50%;
          transform: translateY(-50%);
        }
      }

      .content {
        grid-row: 2;
        grid-column: 2;
        width: 100%;
        text-align: left;
        padding-top: 0;
      }
    }

    @include desktop_device {
      grid-template-columns: 3fr 3rem 3rem 5fr;

      .header {
        grid-column: 2 / 4;
        grid-row: 1 / 3;
        position: relative;
        justify-content: center;

        H2 {
          font-size: 6rem;
         writing-mode: vertical-lr;
        -webkit-transform: rotate(-180deg);
        -moz-transform: rotate(-180deg);
        }
      }

      .image {
        grid-column: 1 / 3;
      }

      .content {
        grid-column: 4;
        grid-row: 1 / 3;
        padding-top: 1.5rem;

        width: 75%;
        margin: 0 auto;
      }
    }

    &.research, &.review {
      background-color: $white;
      color: $black;

      .header {
        H2 {
          @include outline_font($blue, 3px);
          -webkit-text-fill-color: $white;

          @include desktop_device {
            -webkit-text-fill-color: transparent;
          }
        }
      }
    }

    &.testing, &.design {
      background-color: $grey;
      color: $black;

      .header {
        H2 {
          @include outline_font($blue, 3px);
          -webkit-text-fill-color: $white;

          @include desktop_device {
            -webkit-text-fill-color: transparent;
          }
        }
      }
    }

    &.research, &.build, &.review {
      @include landscape_tablet_device {
        grid-template-columns: 5fr 2fr;
        grid-template-rows: 10rem auto;

        .header {
          grid-column: 1;
        }

        .image {
          grid-column: 2;

          IMG {
            left: 0;
          }
        }

        .content {
          grid-column: 1;
        }
      }

      @include desktop_device {
        grid-template-columns: 5fr 3rem 3rem 3fr;

        .header {
          grid-column: 2 / 4;
          grid-row: 1 / 3;

          H2 {
            -webkit-transform: rotate(-180deg);
            -moz-transform: rotate(-180deg);
          }
        }

        .image {
          grid-column: 3 / 5;
        }

        .content {
          grid-column: 1;
          grid-row: 1 / 3;
          padding-top: 1.5rem;

        }
      }
    }
  }
</style>
