<template>
  <div>
    <banner
      :banner-title="projectTitle"
      :image-path="bannerPath"
      :image-text="imageText"
      :show-project-link="true"
      :project-link="projectLink"
      :show-bitbucket="false"
    />
    <section>
      <article class="overview">
        <div class="header">
          <h2>Overview</h2>
        </div>
        <div class="image">
          <img src="/images/blended-learning/overview.png" alt="An image showing green post-it notes on a wood background with information about the project">
        </div>
        <section class="content">
          <p>
            This project is my final project. This project aimed to build a platform that will allow blended learning to
            be delivered. It would allow organisations to sign up and start adding their teachers and their students.
            Conducting a research project meant that literature research had to be conducted before knowing what needs to
            be done to make an application work and solve a problem.
          </p>
          <p>
            After the research was conducted three features were identified as the MVP. These features would resolve the
            problems identified in the research. One of the features solves the problem of the time it takes for a teacher
            to create content for the online and in-classroom environments. This feature makes it easy for the teacher to
            create content in a lesson that is separated into sections and then define what will show in the presentation.
          </p>
          <p>
            Another feature is the different block types which cater to the different learning styles. Allowing images, text
            and videos to be embedded into the course content will mean that the teachers can add in images, videos and audio.
            This will mean that the learners can have different ways to take in information.
          </p>
          <p>
            This project uses two different application to work. One of the applications is a Ruby on Rails application which
            is working as an API. The other is a Nuxt JS application which will handle the front-end to make the application
            faster.
          </p>
        </section>
      </article>
      <article class="research">
        <div class="header">
          <h2>Research</h2>
        </div>
        <div class="image">
          <img src="/images/blended-learning/research.png" alt="A screenshot of the Udemy platform which was used in the desk research">
        </div>
        <div class="content">
          <p>
            Before any development or designing could occur the research needed to be considered. This project used various
            methods of data collecting to identify a problem and identify current problems. One of the methods of data
            collection is a literature review. The aim of this was to understand the current research that has already been
            undertaken. This focused on learning, the environments we learn in and the problems that exist with blended learning.
            This research identified that the main problem with blended learning is the time it takes to create the content for
            the different environments.
          </p>
          <p>
            After the literature review was completed, a questionnaire was devised in order to identify what students understand
            about learning and learning environments. They were also asked about a list of online learning platforms that they
            might have used. This will help to identify which platforms are ideal to observe and understand what features that
            they all offer.
          </p>
          <p>
            When building a new platform it is ideal to look at current solutions or solutions that offer a similar service.
            The platforms reviewed were Udemy, LinkedIn Learning and Vue School. These are all online platforms that can be
            used by anyone wanting to learn something new. While using these platforms the different features were identified
            and then compiled into a table. Using the results of the questionnaire a list of features were identified as being
            useful and then refined into the three features that have been identified as the MVP.
          </p>
        </div>
      </article>
      <article class="design">
        <div class="header">
          <h2>Design</h2>
        </div>
        <div class="image">
          <img src="/images/blended-learning/design.png" alt="The design system showing the different icons, logos, buttons ands fields that were used in this project">
        </div>
        <div class="content">
          <p>
            This platform did not have an overall design of the interface. Instead, it had a design system that
            was created to maintain consistency across the different views. This created using Figma, which
            would allow prototypes to be created quickly using the components that have been created for the
            design system. This means that when it is worked on in the future prototypes can be created and used
            appropriately.
          </p>
          <p>
            As well as having the interface designed, this project required the back-end application to be designed
            using systems designs such as use-case diagrams, entity relationship diagrams and class diagrams. With
            this project being managed using an agile methodology three sets of designs were been created with two
            being unique to the sprint and one combining the two models together showing how they combine.
          </p>
          <p>
            After some reflection, I identified that the project could have been improved if more system designs were
            completed and activity and sequence diagrams were included in the designs. This would show how each feature
            would work making the process better defined for the development of the project.
          </p>
        </div>
      </article>
      <article class="build">
        <div class="header">
          <h2>Build</h2>
        </div>
        <div class="image">
          <img src="/images/blended-learning/build.png" alt="A screenshot of the code used to store the configurations for the content blocks">
        </div>
        <div class="content">
          <p>
            Working with two different projects for the first time presented a few different problems. One of the main
            problems was how the authentication would operate and how to validate that a user is logged in. This was solved
            by using the Devise gem on the Ruby on Rails application. The Devise gem is a package that can be added to a
            ruby application and to handle authentication within the Ruby application. When coupled with a JSON Web Token (JWT)
            this allows a secure token to be sent to and from the application to the front-end application. The Nuxt JS
            application can then read this and attach it to the requests sent to the API. This is handled by the authentication
            module that is available with the Nuxt JS framework.
          </p>
          <p>
            During this project, I was able to spend time to get a basic server structure set up using Amazon Web Services (AWS).
            This is an area of web applications that I am interested in and how to improve the reliability and performance of
            the server structure. The services used in from the AWS suite are an EC2 instance as well as an RDS instance that store
            the database used. In the future, it would be a good idea to look into using other services such as the storage solution
            S3 which will house all of the images and allow users to upload their own images which will make it easier to use and server
            any content they have created.
          </p>
        </div>
      </article>
      <article class="testing">
        <div class="header">
          <h2>Testing</h2>
        </div>
        <div class="image">
          <img src="/images/blended-learning/testing.png" alt="A screenshot of the cypress test suite that was used to tun automated tests">
        </div>
        <div class="content">
          <p>
            In this project, a mixture of testing was used to make sure that both projects work. This involves automated and manual
            testing. One of the frameworks used is called Cypress. This is a JavaScrip based testing framework which allows tests to
            be written that can test the size of elements as well as how well functionality works. These test work with the front-end
            application and while running the tests creates snapshots which will show you why it failed the test. It also has the
            advantage of recording the tests showing you what happened during the test.
          </p>
          <p>
            Testing the API was done using a testing framework called RSpec. This is a package that is used in a large amount of Ruby on
            Rails applications. In this project, the testing is very basic and could have been improved to increase the code coverage of
            the application.
          </p>
          <p>
            As well as the automated testing some manual testing was conducted to check that the application was usable on different devices
            and browsers. This was deemed to be successful as it worked on all of the devices and with all of the browsers. The testing did
            bring up a couple of little issues that were not picked up by the automated testing. This was things like some of the content
            blocks overflowing the window meaning that the user had to scroll sideways.
          </p>
        </div>
      </article>
      <article class="review">
        <div class="header">
          <h2>Review</h2>
        </div>
        <div class="image">
          <img src="/images/projects/review.png" alt="A mind map with the bubbles asking questions about the project like What went well?">
        </div>
        <div class="content">
          <p>
            After the project was completed there were some issues that needed to be addressed in order to improve how the project
            was managed and built. This project was managed using Kanban and had a sprint board that was created to track the sprints
            and the project's progress. This was a useful tool which showed the state of the projects and helps to organise the task into
            their two-week sprints. However, at points in this project tasks had to move into the next sprint due to not enough time being
            allocated to the task. This meant that because of other commitments the work got moved into the next sprint. Halfway through
            the project, I dedicated more time through the week where the project could be worked on.
          </p>
          <p>
            In future projects, the sprint should be based on the actual time available and not on the ideal situation. This will reduce the
            chances of this situation from occurring again. As it is not always possible to allocate more time to a project and cannot be relied
            upon. Furthermore, each of the tasks in a project will need to have the estimated increased as the project evolves and the full scope
            is identified.
          </p>
          <p>
            Another area that will need to be improved is the quality of the testing. It will need to be improved so that the code coverage is much
            higher and the integration tests have been written to test all of the known situations such as blank fields and incorrect emails. This
            will help to improve the depth of the test and make the application more reliable.
          </p>
        </div>
      </article>
    </section>
  </div>
</template>

<script>
import banner from '@/components/projects/show-banner'

export default {
  layout: 'project',
  components: {
    banner
  },
  data () {
    return {
      projectTitle: 'Blended Learning Application',
      bannerPath: '/images/blended-learning/landing_screenshot.png',
      imageText: 'An image showing the collections interface with fifty images of items and one item in full view',
      projectLink: 'http://blended-learning.nitrosystems.co.uk'
    }
  }
}
</script>

<style lang="scss" scoped>
  SECTION > ARTICLE {
    background-color: $blue;
    color: $white;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 15rem 3rem 3rem auto;

    H2 {
      @include outline_font($white, 3px);
      font-size: 3.3rem;
      margin: 0;
      padding: 0 1.5rem;
    }

    .image {
      grid-column: 1;
      grid-row: 1 / 3;

      position: relative;
      overflow: hidden;

      IMG {
        top: 0;
        left: 0;
        width: 100%;
        position: absolute;
        z-index: 0;
      }
    }

    .header {
      grid-row: 2 / 4;
      grid-column: 1;
      position: relative;
      z-index: 2;
      @include flex_center_center;
    }

    .content {
      grid-row: 4;
      grid-column: 1;
      text-align: center;
      padding: 1.5rem;
      box-sizing: border-box;

      A {
        color: $blue;
        text-decoration: none;

        &:hover {
          text-decoration: underline;
        }
      }

      @include tablet_device {
        width: 75%;
        margin: 0 auto;
      }
    }

    @include landscape_tablet_device {
      grid-template-columns: 2fr 5fr;
      grid-template-rows: 10rem auto;

      .header {
        grid-column: 2;
        grid-row: 1;
        justify-content: flex-start;

        H2 {
          font-size: 4rem;
        }
      }

      .image {
        grid-column: 1;
        grid-row: 1 / 3;

        IMG {
          width: auto;
          min-width: 100%;
          min-height: 100%;
          max-height: 200%;
          top: 50%;
          transform: translateY(-50%);
        }
      }

      .content {
        grid-row: 2;
        grid-column: 2;
        width: 100%;
        text-align: left;
        padding-top: 0;
      }
    }

    @include desktop_device {
      grid-template-columns: 3fr 3rem 3rem 5fr;

      .header {
        grid-column: 2 / 4;
        grid-row: 1 / 3;
        position: relative;
        justify-content: center;

        H2 {
          font-size: 6rem;
         writing-mode: vertical-lr;
        -webkit-transform: rotate(-180deg);
        -moz-transform: rotate(-180deg);
        }
      }

      .image {
        grid-column: 1 / 3;
      }

      .content {
        grid-column: 4;
        grid-row: 1 / 3;
        padding-top: 1.5rem;

        width: 75%;
        margin: 0 auto;
      }
    }

    &.research, &.review {
      background-color: $white;
      color: $black;

      .header {
        H2 {
          @include outline_font($blue, 3px);
          -webkit-text-fill-color: $white;

          @include desktop_device {
            -webkit-text-fill-color: transparent;
          }
        }
      }
    }

    &.testing, &.design {
      background-color: $grey;
      color: $black;

      .header {
        H2 {
          @include outline_font($blue, 3px);
          -webkit-text-fill-color: $white;

          @include desktop_device {
            -webkit-text-fill-color: transparent;
          }
        }
      }
    }

    &.research, &.build, &.review {
      @include landscape_tablet_device {
        grid-template-columns: 5fr 2fr;
        grid-template-rows: 10rem auto;

        .header {
          grid-column: 1;
        }

        .image {
          grid-column: 2;

          IMG {
            left: 0;
          }
        }

        .content {
          grid-column: 1;
        }
      }

      @include desktop_device {
        grid-template-columns: 5fr 3rem 3rem 3fr;

        .header {
          grid-column: 2 / 4;
          grid-row: 1 / 3;

          H2 {
            -webkit-transform: rotate(-180deg);
            -moz-transform: rotate(-180deg);
          }
        }

        .image {
          grid-column: 3 / 5;
        }

        .content {
          grid-column: 1;
          grid-row: 1 / 3;
          padding-top: 1.5rem;

        }
      }
    }
  }
</style>
