<template>
  <div>
    <banner
      :banner-title="projectTitle"
      :image-path="bannerPath"
      :image-text="imageText"
      :show-project-link="true"
      :project-link="projectLink"
      :show-bitbucket="true"
      :bitbucket-link="bitbucketLink"
    />
    <section>
      <article class="overview">
        <div class="header">
          <h2>Overview</h2>
        </div>
        <div class="image">
          <img src="/images/v-and-a/overview.png" alt="A picture of some yellow post-it notes on a wooden background with a silver pen resting on top">
        </div>
        <section class="content">
          <p>
            The V&amp;A Museum asked for a novel way to allow the users to look at the items in their collection using their API.
            Currently, they have a system which is not intuitive or easy to use. It also lacks detail as all it has is images of
            the items in the collection.
          </p>
          <p>
            This brief also asked that the project was not to be built using JQuery. This means that this project will be
            delivered using JavaScript, HTML and CSS. It needs to be an intuitive interface that will allow them to explore
            all of the items in the API.
          </p>
          <p>
            To allow a user to explore the whole collection a generous interface will need to be researched and designed.
            This will allow the user not only see the information about the item but see the related items. This could be
            by the artist, materials, collections or other information. I decided to add in a feature to allow the user to
            store the object so that they can access it later and go back to it if they need to. I also decided that the user
            should be able to share the item by sending a link to someone so that they can see the item and all the details
            without having to find it themselves.
          </p>
        </section>
      </article>
      <article class="research">
        <div class="header">
          <h2>Research</h2>
        </div>
        <div class="image">
          <img src="/images/v-and-a/research.png" alt="A screenshot of Knoll's generous interface which was used for research">
        </div>
        <div class="content">
          <p>
            Having not created a generous interface before it is was important to find out what they are and how they usually operate.
            This would allow informed decisions to be made during the development and design phases.
          </p>
          <p>
            It was discovered that a generous interface would try and simulate visiting a museum or a gallery so it allows you to see
            all the items without having an intended purpose. Compares to some interfaces that require the user to enter a search term
            before you can start seeing the items.
          </p>
          <p>
            To get a good idea of what a generous interface would like desk research was conducted by looking at a few different generous
            interfaces with slightly different applications to see common trends. This included looking at websites such as
            <a href="https://knoll.gistapp.com/archive" target="_blank">Knolls interface</a>, which has been delivered using Gist and the
            website for the <a href="http://www.printsandprintmaking.gov.au/explore/decade-summary/#/2010/2" target="_blank">Centre for Australian Art</a>.
            I decided that the grid interface would better suit the collection for the V&amp;A especially with the features to remember and share the items.
          </p>
        </div>
      </article>
      <article class="design">
        <div class="header">
          <h2>Design</h2>
        </div>
        <div class="image">
          <img src="/images/v-and-a/design.png" alt="A picture of the Figma design for the mobile interface">
        </div>
        <div class="content">
          <p>
            When designing an interface I find it best to start off with pen and paper. This allows
            rough sketches to be created and then quickly compared. It allows all the ideas to be quickly
            created without restriction. Once enough have been created they can then be generated using
            a design application.
          </p>
          <p>
            My preference is to use Figma, as it is easy to use and has features that make it easy to test
            on devices and share common parts between designs. For this project, a handful of designs have
            been created to identify how it will look on different devices and the different view that it
            will have. This application will only have five different views which will be able to be used
            by the users.
          </p>
          <p>
            The designs have been created thinking of a mobile-first process as this will make it easier
            to use on smaller screens and make the development process smoother. The prototype was created
            in Figma and is interactive as it allows you to see how it would normally work on the different
            devices.
          </p>
        </div>
      </article>
      <article class="build">
        <div class="header">
          <h2>Build</h2>
        </div>
        <div class="image">
          <img src="/images/v-and-a/build.png" alt="A screenshot of the code that renerd the show panel by senfing a request to the API">
        </div>
        <div class="content">
          <p>
            When building the application certain things had to be considered including how it would be built
            and the technologies that would be used and how the files will be structured.
          </p>
          <p>
            Before the application could be started it was best practice to lay the foundations ready. This
            involved adding a software package called Gulp into the project which allows tasks to be run in
            order to compile CSS and minify files. This will reduce the size of the files being transferred
            to the users. This will then speed up the load time and keep the users happy.
          </p>
          <p>
            When using the API it was important to only fetch the images that are the correct size for the
            job in hand this will mean that the images that are being requested will look nice without taking
            too long to download and render. Therefore, an array was created so that the size can be selected
            via an array position being defined which is then implemented and the string that will be used as
            the source is created in the correct format for the image size.
          </p>
          <p>
            Using SCSS allowed time to be saved when creating the style sheet. Variables have been defined for
            colours, fonts and sizes. It also has the ability to create mixins that can be implemented into
            different rules. This makes it easy to maintain the application and make improvements.
          </p>
        </div>
      </article>
      <article class="testing">
        <div class="header">
          <h2>Testing</h2>
        </div>
        <div class="image">
          <img src="/images/v-and-a/testing.png" alt="The interface being used on a smartphone">
        </div>
        <div class="content">
          <p>
            To show that the application works testing will need to take place. With applications, you can implement
            automated testing. Which would save time and serve as proof that the application functions. However, in
            this project manual testing was preferred as it allows the usability of the interface observed and reviewed.
          </p>
          <p>
            During the testing, it was noticed that some of the buttons were too small and needed to be increased to make
            it easier for the user to click them. This might not have been picked up by the automated testing as the script
            might not have been set up to consider the hit area of a button.
          </p>
          <p>
            This application was also tested on multiple devices with different browsers to make sure that it worked for anyone
            and not just for Chrome. Devices that have been used include Laptops, Computers, Tablets and Smartphones. With the
            browsers being covered including Chrome, Firefox, Safari, Safari Mobile, Chrome Mobile and Samsung Internet. The
            testing conducted showed that the application works and renders as desired on all devices. This shows that the application
            is reliable and can be used by anyone.
          </p>
        </div>
      </article>
      <article class="review">
        <div class="header">
          <h2>Review</h2>
        </div>
        <div class="image">
          <img src="/images/projects/review.png" alt="A mind map with the bubbles asking questions about the project like What went well?">
        </div>
        <div class="content">
          <p>
            Reviewing how each project was completed allows us to grow and adapt our processes as we change and the project we take
            on change. This phase of a project is arguably one of the more important phases as it solves problems that could be faced
            again in the future. Being honest allows for more improvement as all of the shortfalls can be identified.
          </p>
          <p>
            Some of the problems faced during this project were down to my own learning. This project was selected as it allows me to
            develop my JavaScript skills. One of the limitations during this project was my skills as it took longer than expected to
            complete as I was still learning new techniques in order to build the application. In the future, this application should
            be better optimised and JavaScript file should be split into separate files to reduce the size on the files used to edit
            the project.
          </p>
          <p>
            In addition, I would have liked to design the interface to look nicer and not as boring. The main focus of this build was
            the functionality of the application mainly looking at the feature to save the items and share a link to them.
          </p>
          <p>
            Overall, this project was a success as the application was built with the features that were identified in the project
            specification. It also allowed me to improve my JavaScript skills while also allowing me to advance my knowledge of Gulp
            and how it can improve the performance of the application my minifying the files for the application. Some improvements that
            could be made would be to add ways that users can view the content from the API so that they can explore different avenues and
            ways of looking at the same content, in a similar way to Knoll's application.
          </p>
        </div>
      </article>
    </section>
  </div>
</template>

<script>
import banner from '@/components/projects/show-banner'

export default {
  layout: 'project',
  components: {
    banner
  },
  data () {
    return {
      projectTitle: 'V&A Generous Interface',
      bannerPath: '/images/v-and-a/collections-screenshot.png',
      imageText: 'An image showing the collections interface with fifty images of items and one item in full view',
      projectLink: 'http://23249391-collections.netlify.app',
      bitbucketLink: 'https://bitbucket.org/ryanpegg98/cis3159-collections-api/src/master/'
    }
  }
}
</script>

<style lang="scss" scoped>
  SECTION > ARTICLE {
    background-color: $blue;
    color: $white;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 15rem 3rem 3rem auto;

    H2 {
      @include outline_font($white, 3px);
      font-size: 3.3rem;
      margin: 0;
      padding: 0 1.5rem;
    }

    .image {
      grid-column: 1;
      grid-row: 1 / 3;

      position: relative;
      overflow: hidden;

      IMG {
        top: 0;
        left: 0;
        width: 100%;
        position: absolute;
        z-index: 0;
      }
    }

    .header {
      grid-row: 2 / 4;
      grid-column: 1;
      position: relative;
      z-index: 2;
      @include flex_center_center;
    }

    .content {
      grid-row: 4;
      grid-column: 1;
      text-align: center;
      padding: 1.5rem;
      box-sizing: border-box;

      A {
        color: $blue;
        text-decoration: none;

        &:hover {
          text-decoration: underline;
        }
      }

      @include tablet_device {
        width: 75%;
        margin: 0 auto;
      }
    }

    @include landscape_tablet_device {
      grid-template-columns: 2fr 5fr;
      grid-template-rows: 10rem auto;

      .header {
        grid-column: 2;
        grid-row: 1;
        justify-content: flex-start;

        H2 {
          font-size: 4rem;
        }
      }

      .image {
        grid-column: 1;
        grid-row: 1 / 3;

        IMG {
          width: auto;
          min-width: 100%;
          min-height: 100%;
          max-height: 200%;
          top: 50%;
          transform: translateY(-50%);
        }
      }

      .content {
        grid-row: 2;
        grid-column: 2;
        width: 100%;
        text-align: left;
        padding-top: 0;
      }
    }

    @include desktop_device {
      grid-template-columns: 3fr 3rem 3rem 5fr;

      .header {
        grid-column: 2 / 4;
        grid-row: 1 / 3;
        position: relative;
        justify-content: center;

        H2 {
          font-size: 6rem;
         writing-mode: vertical-lr;
        -webkit-transform: rotate(-180deg);
        -moz-transform: rotate(-180deg);
        }
      }

      .image {
        grid-column: 1 / 3;
      }

      .content {
        grid-column: 4;
        grid-row: 1 / 3;
        padding-top: 1.5rem;

        width: 75%;
        margin: 0 auto;
      }
    }

    &.research, &.review {
      background-color: $white;
      color: $black;

      .header {
        H2 {
          @include outline_font($blue, 3px);
          -webkit-text-fill-color: $white;

          @include desktop_device {
            -webkit-text-fill-color: transparent;
          }
        }
      }
    }

    &.testing, &.design {
      background-color: $grey;
      color: $black;

      .header {
        H2 {
          @include outline_font($blue, 3px);
          -webkit-text-fill-color: $white;

          @include desktop_device {
            -webkit-text-fill-color: transparent;
          }
        }
      }
    }

    &.research, &.build, &.review {
      @include landscape_tablet_device {
        grid-template-columns: 5fr 2fr;
        grid-template-rows: 10rem auto;

        .header {
          grid-column: 1;
        }

        .image {
          grid-column: 2;

          IMG {
            left: 0;
          }
        }

        .content {
          grid-column: 1;
        }
      }

      @include desktop_device {
        grid-template-columns: 5fr 3rem 3rem 3fr;

        .header {
          grid-column: 2 / 4;
          grid-row: 1 / 3;

          H2 {
            -webkit-transform: rotate(-180deg);
            -moz-transform: rotate(-180deg);
          }
        }

        .image {
          grid-column: 3 / 5;
        }

        .content {
          grid-column: 1;
          grid-row: 1 / 3;
          padding-top: 1.5rem;

        }
      }
    }
  }
</style>
