<template>
  <div>
    <projectsBanner />
    <article class="work collections">
      <section class="image">
        <img src="/images/v-and-a/collections-screenshot.png" alt="A screenshot showing the collections interface with a grid of items in the collection and one item being shown in more detail">
      </section>
      <section class="content">
        <div>
          <h2>V&amp;A Generous Interface</h2>
          <p>Using JavaScript to create a generous interface that allows users to see the objects that are available in the API.</p>
          <p>The interface had to be intuitive and easy to use on various devices such as mobile phones, tablets and laptops. While also allowing them to explore every inch of the collection.</p>
        </div>
        <div class="technologies">
          <javascriptTag />
          <sassTag />
          <htmlTag />
          <figmaTag />
        </div>
        <nuxt-link to="/projects/collections">
          Explore the collections interface
        </nuxt-link>
      </section>
    </article>
    <article class="work bee-center">
      <section class="image">
        <img src="/images/bee-centre/landing_screenshot.png" alt="A screenshot of the landing page of the bee centre website">
      </section>
      <section class="content">
        <div>
          <h2>The Bee Centre Website</h2>
          <p>
            Learning how to use Nuxt JS to build a website for a client using Figma to create a prototype. This project looks
            at how the website was designed and built.
          </p>
          <p>
            One of the main focus points of this build was how the components can be used to make development and maintaince
            easier. Components allow re-usable code to be placed in a file and then included when needed.
          </p>
        </div>
        <div class="technologies">
          <nuxtTag />
          <sassTag />
          <htmlTag />
          <figmaTag />
        </div>
        <nuxt-link to="/projects/bee-centre">
          Have a buzz around
        </nuxt-link>
      </section>
    </article>
    <article class="work bee-center">
      <section class="image">
        <img src="/images/blended-learning/landing_screenshot.png" alt="A screenshot showing the landing page of the blended learning platform with the slogon of optimised learning">
      </section>
      <section class="content">
        <div>
          <h2>Blended Learning Application</h2>
          <p>
            My university project was to build a platform that can allow teachers to sign up and create content. This content could
            then be presented in the classroom and given to the learners in an online platform. The aim of this was to make it
            easier for teachers to use the blended learning method in thier teaching environment.
          </p>
          <p>
            This project started out by researching about how we learn and the current problems faced when teaching.
          </p>
        </div>
        <div class="technologies">
          <nuxtTag />
          <rubyTag />
          <sassTag />
          <htmlTag />
          <figmaTag />
        </div>
        <nuxt-link to="/projects/blended-learning">
          Learn a little more
        </nuxt-link>
      </section>
    </article>
  </div>
</template>

<script>
/* Import the different components that are used */
import projectsBanner from '@/components/projects/index-banner'
/* Import the different tags that are being used */
import javascriptTag from '@/components/technology-tags/javascript-tag'
import sassTag from '@/components/technology-tags/sass-tag'
import htmlTag from '@/components/technology-tags/html-tag'
import figmaTag from '@/components/technology-tags/figma-tag'
import nuxtTag from '@/components/technology-tags/nuxt-tag'
import rubyTag from '@/components/technology-tags/ruby-tag'

export default {
  components: {
    projectsBanner,
    javascriptTag,
    sassTag,
    htmlTag,
    figmaTag,
    nuxtTag,
    rubyTag
  }
}
</script>

<style lang="scss" scoped>
  .work {
    background-color: $grey_2;
    border-top: 1px solid $grey_2;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 40vh auto;

    .image {
      grid-row: 1;
      overflow: hidden;
      @include flex_center_center;

      IMG {
        width: 130%;
      }
    }

    .content {
      grid-row: 2;
      padding: 2rem;
      text-align: center;

      H2 {
        font-size: 2.75rem;
        margin: 0;
        line-height: 0.9em;
        @include outline_font($black, 3px);

        @include desktop_device {
          font-size: 3.5rem;
        }
      }

      .technologies {
        @include flex_center_center;
        .icon {
          margin: 0.25rem;
        }
      }

      > A {
        background-color: $blue;
        padding: 1rem;
        display: inline-block;
        color: $white;
        text-decoration: none;
        border-radius: 2rem;
        margin-top: 2rem;
        transition: 0.5s;

        &:hover {
          background-color: lighten($blue, 30%);
          transition: 0.5s;
        }
      }
    }

    @include landscape_tablet_device {
      grid-template-rows: 60vh;
      grid-template-columns: 30vw 1fr;

      .image {
        grid-row: 1;
        grid-column: 1;

        IMG {
          min-height: 100%;
          width: auto;
        }
      }

      .content {
        grid-row: 1;
        grid-column: 2;
        padding: 1rem;
        @include flex_start_center;
        flex-direction: column;
        text-align: left;

        .technologies {
          align-items: flex-start;
        }
      }

      &:nth-child(odd) {
        background-color: $white;
        grid-template-columns: auto 30vw;

        .image {
          grid-column: 2;
        }

        .content {
          grid-column: 1;
          align-items: flex-end;
          text-align: right;
        }
      }
    }

    @include desktop_device {
      grid-template-columns: 2fr 4fr;

      &:nth-child(odd) {
        grid-template-columns: 4fr 2fr;
      }

      .image {
        IMG {
          max-width: 200%;
          max-height: 130%;
          height: auto;
          width: auto;
        }
      }

      .content {
        width: 70%;
        margin: 0 auto;
      }
    }
  }
</style>
