<template>
  <div class="social_media">
    <a href="https://www.linkedin.com/in/ryan-luke-pegg" target="_blank" class="linked_in">
      <i class="fab fa-linkedin" />
    </a>
    <!--
      Remove the link to twitter for now
      <a href="#" target="_blank" class="twitter">
        <i class="fab fa-twitter" />
      </a>
    -->
    <a href="https://github.com/ryanPegg98" target="_blank" class="github">
      <i class="fab fa-github" />
    </a>
    <a href="https://bitbucket.org/ryanpegg98" target="_blank" class="bitbucket">
      <i class="fab fa-bitbucket" />
    </a>
  </div>
</template>

<script>
export default {
}
</script>

<style lang="scss" scoped>
  .social_media {
    display: flex;
    justify-content: center;

    @include desktop_device {
      justify-content: flex-start;
    }

    A {
      width: 2.5rem;
      height: 2.5rem;
      display: flex;
      align-items: center;
      justify-content: center;
      text-decoration: none;
      color: $white;
      margin-right: 0.5rem;
      border-radius: 50%;
      transition: 0.5s;

      /* Change the colours to be the brand colours */

      &.linked_in {
        background-color: $linkedin;
      }

      &.twitter {
        background-color: $twitter;
      }
      &.github {
        background-color: $white;
        color: $github;
      }
      &.bitbucket {
        background-color: $bitbucket;
      }

      &:hover {
        font-size: 1.5rem;
        transition: 0.5s;
      }
    }
  }
</style>
