@keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

@keyframes upDown {
  0% { transform: translateY(0); }
  100% { transform: translateY(-10px); }
}

@keyframes upDownPadding {
  0% { transform: translate(-50%, -50%); }
  100% { transform: translate(-50%, -40%); }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

@-moz-keyframes upDown {
  0% { transform: translateY(0); }
  100% { transform: translateY(-10px); }
}

@-moz-keyframes upDownPadding {
  0% { transform: translate(-50%, -50%); }
  100% { transform: translate(-50%, -40%); }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

@-webkit-keyframes upDown {
  0% { transform: translateY(0); }
  100% { transform: translateY(-10px); }
}

@-webkit-keyframes upDownPadding {
  0% { transform: translate(-50%, -50%); }
  100% { transform: translate(-50%, -30%); }
}

/* Internet Explorer */
@-ms-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}
