/*
  These are the mixins that will be available globally

  These will help to keep consistency between the different files and
  cut down on duplicate code
*/

/* Mixins for media queries */

/* This mixin will help to add the media query to handle how the website scales for tablet devices */
@mixin tablet_device {
  @media screen and (min-width: 750px) {
    @content;
  }
}

@mixin landscape_tablet_device {
  @media screen  and (orientation: landscape) and (min-width: 1000px) {
    @content;
  }
}

/* This mixin will handle the changes for desktop devices */
@mixin desktop_device {
  @media screen and (min-width: 1200px) {
    @content;
  }
}

/* Mixins for animation */

@mixin animate($value) {
  -webkit-animation: $value; /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: $value; /* Firefox < 16 */
  -ms-animation: $value; /* Internet Explorer */
  -o-animation: $value; /* Opera < 12.1 */
  animation: $value;
}

/* Common rules Mixins - These are for commonly used rules that are applied together */

@mixin flex_center_center {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin flex_center_end {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

@mixin flex_center_start {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

@mixin flex_start_center {
  display: flex;
  align-items: flex-start;
  justify-content: center;
}

/* Apply the outline to the text for headings */
@mixin outline_font($colour, $weight) {
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-width: $weight;
  -webkit-text-stroke-color: $colour;
}
