/* These variables will be available gloablly */

/* COLOUR VARIABLES */
$blue: #008ECF;
$orange: #FFB200;
$white: #FFF;
$black: #333;
$grey: #EFEFEF;
$grey_2: lighten($black, 70%);

/* Colours for the different technologies */
$nuxt: #2F495E;
$nuxt_text: $white;
$javascript: #FBD80C;
$javascript_text: #333;
$html: #F16529;
$html_text: $white;
$figma: #A259FF;
$figma_text: $white;
$ruby: #CC342D;
$ruby_text: $white;
$sass: #CD6799;
$sass_text: $white;
$css: #2862EA;
$css_text: $white;
$php: #8892BF;
$mysql: $white;
$mysql_brand: #F29010;

/* Colours for the different social links */
$linkedin: #2673B0;
$twitter: #39A1F2;
$github: #242A2D;
$bitbucket: #1A47A5;

/* Colours that will be used for my Education and work sections */
$cleversteam: #C99E67;
$jot_web: #4DDC99;

/* FONT VARIABLES */
$font_size: 18px;
$font_weight: 400;
$font_family: 'Open Sans', Arial, sans-serif;
$font_line_height: 1.75em;

/* Values to get the title font */
$font_title_family: 'Exo', Arial, sans-serif;
$font_title_weight: 900;
