@import 'fonts'; /* Gets the fonts that will be used in this project */
@import 'vars'; /* All the global variables will be in one place */
@import 'animations'; /* This will bring in all the gloable keyframes that are available to animate elements */
@import 'mixins'; /* All the global mixins will be usable in every page */

/* The rules created in this file will be passed to every layout and every page */
BODY {
  /* Removed the extra space from arond the body that the browser applies */
  margin: 0;
  padding: 0;
  /* Set the default font values on the body */
  font-family: $font_family;
  font-size: $font_size;
}

H1, H2, H3, H4, H5, H6 {
  font-family: $font_title_family;
  font-weight: 900;
  text-transform: uppercase;
}
