<template>
  <aside>
    <div class="container">
      <section class="title">
        <h2>Want to get in touch?</h2>
      </section>
      <a href="#" target="_blank" class="linkedin">
        <span>Message me via LinkedIn</span>
        <i class="fab fa-linkedin" />
      </a>
      <section class="or">
        <span>OR</span>
      </section>
      <a href="mailTo:ryan.luke.pegg@gmail.com" target="_blank" class="email">
        <span>Email ryan.luke.pegg@gmail.com</span>
        <i class="fas fa-envelope" />
      </a>
    </div>
  </aside>
</template>

<style lang="scss" scoped>
  ASIDE {
    background-color: $blue;
    border: 1px solid $blue;
    color: $white;
    padding: 2rem;

    .container {
      box-sizing: border-box;
      text-align: center;
      display: grid;
      grid-template-rows: 6rem 10rem 3rem 10rem;
      max-width: 1200px;
      margin: 0 auto;

      @include landscape_tablet_device {
        grid-template-columns: 1fr 5rem 1fr;
        grid-template-rows: 6rem 30vh;
      }

      @include desktop_device {
        grid-template-rows: 6rem 20vh;
      }

      .title {
        grid-row: 1;
        @include flex_center_center;
        @include landscape_tablet_device {
          grid-row: 1;
          grid-column: 1 / 4;
        }

        H2 {
          margin: 0;
          padding: 0;
          font-size: 2.5rem;
          line-height: 1em;
        }
      }

      A {
        @include flex_center_center;
        flex-direction: column;
        text-decoration: none;
        color: $black;
        background-color: $white;
        font-size: 1.3rem;
        font-weight: 700;

        &:first-of-type {
          @include landscape_tablet_device {
            grid-row: 2;
            grid-column: 1;
          }
        }
        &:last-of-type {
          @include landscape_tablet_device {
            grid-row: 2;
            grid-column: 3;
          }
        }

        &:hover I {
            color: $linkedin;
          }

        &.email {
          background-color: $grey;

          &:hover I {
            color: $blue;
          }
        }

        I {
          font-size: 4rem;
        }
      }

      .or {
        @include flex_center_center;
        position: relative;

        &:before {
          content: '';
          background-color: $white;
          width: 100%;
          height: 1.5rem;
          position: absolute;
          top: 0;
          left: 0;
        }

        &:after {
          content: '';
          background-color: $grey;
          width: 100%;
          height: 1.5rem;
          position: absolute;
          bottom: 0;
          left: 0;
        }

        @include landscape_tablet_device {
          &:before, &:after {
            height: 100%;
            width: 2.5rem;
          }

          &:after {
            left: 50%;
          }
        }

        SPAN {
          height: 3rem;
          width: 3rem;
          background-color: $black;
          border-radius: 50%;
          @include flex_center_center;
          position: relative;
          z-index: 10;
        }
      }
    }
  }
</style>
