<template>
  <footer>
    <section class="branding">
      <!-- Import the logo from  the logo component -->
      <Logo />
      <!-- Display copyright information -->
      <p><i class="far fa-copyright" /> Ryan Pegg 2020</p>
    </section>
    <section class="media">
      <!-- Add in the social media links from the component -->
      <socialLinks />
    </section>
  </footer>
</template>

<script>
import Logo from '@/components/Logo'
import socialLinks from '@/components/quick-links/social-links'

export default {
  components: {
    Logo,
    socialLinks
  }
}
</script>

<style lang="scss" scoped>
  FOOTER {
    position: relative;
    background-color: $black;
    color: $white;
    padding: 2rem;
    text-align: center;

    @include desktop_device {
      text-align: left;
      display: grid;
      grid-template-columns: 1fr 1fr;

      .logo {
        display: inline-block;
        width: auto;
        padding: 1em;
        border-radius: 6rem;
        margin-top: 1rem;
      }

      .media .social_media {
        margin-top: 1rem;
        justify-content: flex-end;
      }
    }
  }
</style>
