<template>
  <header :class="scrollClass ? 'blockHeader' : ''">
    <Logo />
    <nav>
      <nuxt-link to="/">
        <i class="fas fa-home" />
        <span>Home</span>
      </nuxt-link>
      <nuxt-link to="/about">
        <i class="fas fa-user" />
        <span>About</span>
      </nuxt-link>
      <nuxt-link to="/projects">
        <i class="fas fa-laptop-code" />
        <span>Projects</span>
      </nuxt-link>
    </nav>
  </header>
</template>

<script>
import Logo from '@/components/Logo'

export default {
  components: {
    Logo
  },
  data () {
    return {
      scrollClass: false
    }
  },
  beforeMount () {
    window.addEventListener('scroll', this.handleScroll)
  },
  beforeDestroy () {
    window.removeEventListener('scroll', this.handleScroll)
  },
  methods: {
    handleScroll () {
      // Your scroll handling here
      if (window.scrollY > 30) {
        this.scrollClass = true
      } else {
        this.scrollClass = false
      }
    }
  }
}
</script>

<style lang="scss" scoped>
  HEADER {
    position: fixed;
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 4rem;
    top: 0;
    left: 0;
    right: 0;
    z-index: 20;

    @include tablet_device {
      grid-template-columns: 1fr 3fr;
    }

    @include desktop_device {
      grid-template-columns: 1fr 50vw;
    }

    > A {
      grid-column: 1;
    }

    NAV {
      grid-column: 2;
      display: grid;
      grid-template-columns: 1fr 1fr;

      @include tablet_device {
        grid-template-columns: 1fr 1fr 1fr;
      }

      @include desktop_device {
        grid-column: 2;
        display: flex;
        align-items: center;
        justify-content: flex-end;
      }

      A {
        color: $black;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        text-decoration: none;
        padding-top: 0.3rem;

        @include desktop_device {
          color: $white;
          padding: 0 1.5rem;
          height: 4rem;
          text-shadow: 0px 0px 5px #000;
        }

        > * {
          display: block;
        }

        &:hover {
          background-color: $blue;
          color: $white;
          transition: 0.5s;
        }

        &.nuxt-link-exact-active > I {
          color: $blue;
        }

        &.nuxt-link-exact-active:hover > I {
          color: $black;
        }
      }

      A:first-child {
        display: none;

        @include tablet_device {
          display: flex;
        }
      }
    }
    &.blockHeader {
      background-color: $grey;
      @include desktop_device {
        color: $white;

        NAV {
          A {
            text-shadow: none;
            color: $black;

            &.nuxt-link-exact-active > I {
              color: $blue;
            }
          }
        }
      }
    }
  }
</style>
