<template>
  <nuxt-link to="/" class="logo">
    <span>Ryan</span>
    <span>Pegg</span>
  </nuxt-link>
</template>

<style lang="scss" scoped>
  .logo {
    font-family: $font_title_family;
    font-weight: 900;
    text-decoration: none;
    display: block;

    SPAN {
      display: flex;
      color: $blue;
      text-transform: uppercase;
      font-size: 1.7rem;
      justify-content: center;
      align-items: center;
    }

    &:hover {
      background-color: $blue;
      SPAN {
        color: $white;
      }
      transition: 0.5s;
    }

    @include desktop_device {
      padding: 2rem;

      SPAN {
        display: inline-block;
        font-size: 6rem;
        line-height: 1em;
        justify-content: flex-start;
        margin-right: 1rem;
        transition: 0.5s;

        &:last-of-type {
          margin-right: 0;
        }
      }

      &:hover {
        background-color: transparent;

        SPAN {
          color: $black;
        }
      }
    }
  }

  .branding {
    A {
      padding: 0.5rem;
      @include flex_center_center;

      @include desktop_device {
        @include flex_center_start;
        padding-left: 0 !important;
      }

      SPAN {
        font-size: 2rem;
        margin-right: 0.5rem;
        transition: 0.5s;
      }

      &:hover {
        SPAN {
          color: $grey;
        }
      }
    }
  }

  @include desktop_device {
    .blockHeader {
      A {
        padding: 0.5rem;
        @include flex_center_start;
        SPAN {
          font-size: 2rem;
          margin-right: 0.5rem;
          transition: 0.5s;
        }
      }
    }
  }
</style>
