<template>
  <div>
    <!-- Include the header component -->
    <Header />
    <!-- Wrap the content in the main element -->
    <main>
      <!-- Show the content from the page -->
      <nuxt />
    </main>
    <!-- Include the contact info from the component -->
    <contactBlock />
    <!-- Add the footer via the footer component -->
    <Footer />
  </div>
</template>

<script>
import Header from '@/components/header'
import contactBlock from '@/components/contact-block'
import Footer from '@/components/footer'

export default {
  components: {
    Header,
    contactBlock,
    Footer
  }
}
</script>

<style lang="scss" scoped>
</style>
