<template>
  <div>
    <!-- Import the banner from the component -->
    <Banner />
    <!-- Import the work section -->
    <workSection />
    <!-- Import the skills section -->
    <skillsSection />
    <!-- Import the education section component -->
    <educationSection />
  </div>
</template>

<script>
import Banner from '@/components/about/banner'
import educationSection from '@/components/about/education-section'
import skillsSection from '@/components/about/skills-section'
import workSection from '@/components/about/work-section'

export default {
  components: {
    Banner,
    educationSection,
    skillsSection,
    workSection
  }
}
</script>

<style lang="scss" scoped>
</style>
