<template>
  <div>
    <landingBanner />
    <aboutSection />
    <projectBoxes />
  </div>
</template>

<script>
import landingBanner from '@/components/landing/landing-banner'
import aboutSection from '@/components/landing/about-section'
import projectBoxes from '@/components/landing/project-boxes'

export default {
  layout: 'landing',
  components: {
    landingBanner,
    aboutSection,
    projectBoxes
  }
}
</script>
