<template>
  <article class="about">
    <div class="content_holder">
      <h1>About Me</h1>
      <section class="image_holder">
        <div class="image">
          <img src="/images/profile.jpg" alt="An image of me with short brown hair in a black and blue checked shirt on a light grey background smiling to the camera">
        </div>
      </section>
      <section>
        <p>
          I am a Full Stack developer based in Liverpool. I have two years of commercial experience.
          I started learning Ruby on Rails in 2018 during my sandwich year placement.
        </p>
        <p>
          During university, I favoured the coding modules yet enjoyed the web application module which focused on the system modelling.
          This allowed me to understand how applications can be designed to be efficient and also work for its intended user.
        </p>
        <p>
          Ensuring that a web application has been optimised is important to me.
          Making scripts run quicker means that the page will take less time to load.
          As a result, users are happier and will be more comfortable using the application.
          It also means that fewer resources are being used by the application. All of this mean customers
          will return and re-use the application while the budget for resources does not increase rapidly.
        </p>
      </section>
    </div>
  </article>
</template>

<style lang="scss" scoped>
  ARTICLE.about{
    background-color: $grey_2;
    border-top: 1px solid $grey_2;
    padding: 2rem;
    text-align: center;

    H1 {
      font-size: 4rem;
      line-height: 0.9em;
      @include outline_font($black, 3px);
    }

    @include landscape_tablet_device {
      .content_holder {
        display: grid;
        grid-template-columns: 33% 1fr;
        grid-template-rows: 5rem auto;

        H1 {
          grid-column: 1 / 3;
          grid-row: 1;
          margin: 0;

          display: flex;
          align-items: center;
          justify-content: center;
        }

        .image_holder {
          grid-row: 2;
          grid-column: 1;

          display: flex;
          align-items: center;
          justify-content: center;
        }
      }
    }

    @include desktop_device {
      .content_holder {
        max-width: 1200px;
        margin: 0 auto;

        SECTION {
          text-align: left;
        }
      }
    }

    .image {
      font-size: 7rem;
      height: 30vh;
      width: 30vh;
      font-weight: 900;
      font-family: $font_title_family;
      line-height: 0.8em;
      text-transform: uppercase;
      overflow: hidden;
      border-radius: 50%;
      position: relative;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      margin: 0 auto;

      IMG {
        width: 30vh;
        min-height: 30vh;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 0;
      }
    }
  }
</style>
