<template>
  <article class="landing-banner">
    <section class="title">
      <h1>Full Stack Developer</h1>
      <nuxt-link to="/projects">
        Some of my work
      </nuxt-link>
    </section>
    <nuxt-link to="/projects" class="action">
      Some of my work
    </nuxt-link>
    <section :class="showicons ? 'show image' : 'image'">
      <img src="/images/box.jpg" alt="The inside of a wooden box">

      <!-- Icons of the software being used -->
      <span class="sass">
        <i class="fab fa-sass" />
      </span>
      <span class="ruby">
        <i class="far fa-gem" />
      </span>
      <span class="js">
        <i class="fab fa-js-square" />
      </span>
      <span class="html">
        <i class="fab fa-html5" />
      </span>
      <span class="css">
        <i class="fab fa-css3" />
      </span>
      <span class="figma">
        <i class="fab fa-figma" />
      </span>
      <span class="nuxt">
        <img src="/images/icons/nuxt-logo.svg" alt="The Nuxt JS logo">
      </span>
    </section>
  </article>
</template>

<script>
export default {
  data () {
    return {
      showicons: false
    }
  },
  mounted: () => {
    return {
      showicons: true
    }
  }
}
</script>

<style lang="scss" scoped>
  ARTICLE.landing-banner {
    height: 100vh;
    box-sizing: border-box;
    overflow: hidden;
    display: grid;
    grid-template-rows: 50vh 50vh;
    position: relative;

    @include desktop_device {
      grid-template-columns: 50vw 50vw;
      grid-template-rows: 1fr;
    }

    H1 {
      font-size: 3.5rem;
      line-height: 1em;
      text-align: center;
      color: #000;
      margin-bottom: 4rem;
      font-family: $font_title_family;
      font-weight: $font_title_weight;
      padding-top: 2.5vh;
      max-width: 90%;
      @include animate(fadeIn 1s);
      text-transform: uppercase;
      /* Apply the outline font to the banner */
      @include outline_font($black, 3px);

      @include tablet_device {
        max-width: 75%;
        font-size: 6rem;
      }

      @include desktop_device {
        font-size: 8rem;
        max-width: 90%;
        text-align: right;
        padding-right: 1rem;
        @include animate(fadeIn 0.5s);
      }
    }

    A {
          position: absolute;
          top: 50%;
          left: 50%;
          background-color: $blue;
          color: $white;
          text-decoration: none;
          font-size: 1.5rem;
          padding: 1rem;
          border-radius: 2rem;
          display: inline-block;
          transition: 0.5s;
          z-index: 10;
          width: 60%;
          text-align: center;
          transform: translate(-50%, -50%);

          @include tablet_device {
            width: auto;
            padding: 1rem 2rem;
          }

          @include desktop_device {
            position: relative;
            top: 0;
            left: 0;
            transform: none;
            margin-right: 1rem;
          }

          &:hover {
            background-color: lighten($blue, 40%);
            color: $black;
            transition: 0.5s;
          }
        }

    SECTION {
      text-align: center;

      &.title {
        grid-row: 1;
        display: flex;
        align-items: flex-end;
        justify-content: center;

        > A {
          display: none;
        }

        @include desktop_device {
          grid-column: 1;
          align-items: flex-end;
          justify-content: center;
          flex-direction: column;

          > A {
            display: inline-block;
          }
        }
      }

      &.image {
        position: relative;
        overflow: hidden;
        grid-row: 2;

        @include desktop_device {
          grid-column: 2;
          grid-row: 1;
        }

        IMG {
          position: absolute;
          left: 50%;
          bottom: 0;
          min-height: 100%;
          max-width: 160%;
          transform: translateX(-50%);
          z-index: -10;
        }

        SPAN {
          position: absolute;
          height: 4rem;
          width: 4rem;
          z-index: 10;
          background-color: $white;
          border-radius: 50%;
          display: flex;
          justify-content: center;
          align-items: center;
          color: $black;
          font-size: 2rem;

          -webkit-animation: upDown 1s infinite  alternate;
          animation: upDown 1s infinite  alternate;

          IMG, SVG {
            width: 2rem;
          }

          @include tablet_device {
            width: 6rem;
            height: 6rem;
            font-size: 3rem;

            IMG, SVG {
              width: 3rem;
            }
          }

          &.css {
            background-color: $css;
            color: $css_text;
            top: 60%;
            left: 10%;
            animation-delay: 1s;
          }
          &.sass {
            background-color: $sass;
            color: $sass_text;
            top: 70%;
            left: 80%;
            animation-delay: 0.25s;
          }
          &.ruby {
            background-color: $ruby;
            color: $ruby_text;
            top: 20%;
            left: 65%;
            animation-delay: 2.5s;
          }
          &.html {
            background-color: $html;
            color: $html_text;
            top: 45%;
            left: 45%;
            animation-delay: 2s;
          }
          &.js {
            background-color: $javascript;
            color: $javascript_text;
            top: 75%;
            left: 35%;
            animation-delay: 2.3s;
          }
          &.figma {
            background-color: $figma;
            color: $figma_text;
            top: 12%;
            left: 25%;
            animation-delay: 0.5s;
          }
          &.nuxt {
            left: 5%;
            top: 30%;
            animation-delay: 3.5s;
          }
        }
      }
    }
  }

  .action {
    position: absolute;
    top: 50%;
    left: 50%;
    translate: transform(-50%, -50%);
    @include desktop_device {
      display: none !important;
    }
  }
</style>
