<template>
  <article class="projects">
    <div class="content_holder">
      <h1>Projects</h1>

      <section>
        <nuxt-link to="/projects/collections">
          <div class="logo">
            <img src="/images/v-and-a/collections-screenshot.png" alt="Screenshot of the collections web application showing some of the items available at the V&amp;A">
          </div>
          <div class="title">
            <h2>V&amp;A Generous Interface</h2>
          </div>
          <div class="description">
            <p>Using JavaScript to create a generous interface that allows users to see the objects that are available in the API</p>
          </div>
          <div class="technologies">
            <javascriptTag />
            <htmlTag />
            <sassTag />
            <figmaTag />
          </div>
        </nuxt-link>

        <nuxt-link to="/projects/bee-centre">
          <div class="logo">
            <img src="/images/bee-centre/landing_screenshot.png" alt="Screenshot of the landing page for the Bee Centre">
          </div>
          <div class="title">
            <h2>Bee Centre Website</h2>
          </div>
          <div class="description">
            <p>Building a website using NUXT JS for a company which exists to help Bees by supplying their visitors with information</p>
          </div>
          <div class="technologies">
            <nuxtTag />
            <htmlTag />
            <sassTag />
            <figmaTag />
          </div>
        </nuxt-link>

        <nuxt-link to="/projects/blended-learning">
          <div class="logo">
            <img src="/images/blended-learning/landing_screenshot.png" alt="Screenshot of the blended learning platform">
          </div>
          <div class="title">
            <h2>Blended Learning Platform</h2>
          </div>
          <div class="description">
            <p>Creating a new platform using NUXT JS and Ruby on Rails to allow tutors to deliver blended learning to their students</p>
          </div>
          <div class="technologies">
            <nuxtTag />
            <rubyTag />
            <htmlTag />
            <sassTag />
            <figmaTag />
          </div>
        </nuxt-link>
      </section>
    </div>
  </article>
</template>

<script>
import javascriptTag from '@/components/technology-tags/javascript-tag'
import htmlTag from '@/components/technology-tags/html-tag'
import sassTag from '@/components/technology-tags/sass-tag'
import figmaTag from '@/components/technology-tags/figma-tag'
import nuxtTag from '@/components/technology-tags/nuxt-tag'
import rubyTag from '@/components/technology-tags/ruby-tag'

export default {
  components: {
    javascriptTag,
    htmlTag,
    sassTag,
    figmaTag,
    nuxtTag,
    rubyTag
  }
}
</script>

<style lang="scss" scoped>
  ARTICLE.projects {
    width: 100vw;
    background-color: $white;
    color: $black;
    padding: 2rem;
    box-sizing: border-box;

    @include desktop_device {
      .content_holder {
        max-width: 1200px;
        margin: 0 auto;
      }
    }

    H1 {
      font-size: 4rem;
      margin: 0;
      padding: 0;
      padding-bottom: 2rem;
      text-align: center;

      @include outline_font($blue, 3px);

      @include desktop_device {
        text-align: left;
      }
    }

    @include tablet_device {
      SECTION {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-column-gap: 2rem;
      }
    }

    @include desktop_device {
      SECTION {
        grid-template-columns: 1fr 1fr 1fr;
      }
    }

    SECTION A {
      background-color: $grey;
      display: block;
      text-decoration: none;
      color: $black;
      margin-bottom: 2rem;
      overflow: hidden;
      position: relative;
      padding-bottom: 4rem;

      @include desktop_device {
        margin-bottom: 0;
      }

      &:after {
        content: 'Find out more';
        background-color: $black;
        color: $grey;
        width: 100%;
        box-sizing: border-box;
        text-align: center;
        display: block;
        padding: 1rem;
        position: absolute;
        bottom: 0;
      }

      > DIV {
        padding: 1rem;

        &.logo {
          height: 20vh;
          overflow: hidden;
          padding: 0;
          display: flex;
          align-items: center;
          justify-content: center;

          IMG {
            min-height: 100%;
            min-width: 100%;
            width: 100%;
            transition: 0.5s;
          }
        }

        &.title {
          H2 {
            padding: 0;
            margin: 0;
          }
        }

        &.description {
          P {
            padding: 0;
            margin: 0;
          }
        }

        &.technologies {
          display: flex;

          DIV {
            margin-right: 0.3rem;
          }
        }
      }

     &:hover > DIV.logo IMG {
       min-width: 125%;
       transition: 0.5s;
     }

     &:last-child {
       margin-bottom: 0;
     }
    }
  }
</style>
