<template>
  <article class="banner">
    <section class="title">
      <h1>Projects</h1>
    </section>
    <section class="image">
      <img src="/images/projects/banner.jpg" alt="A wooden desk with a macbook sitting on it">
    </section>
  </article>
</template>

<style lang="scss" scoped>
  .banner {
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 50vh 50vh;

    .title {
      grid-column: 1;
      grid-row: 1;
      @include flex_center_end;
      flex-direction: column;
      font-size: 4rem;
      line-height: 0.8em;
      text-align: center;
      padding: 1rem;

      @include tablet_device {
        font-size: 7rem;
        padding-bottom: 2rem;

        H1 {
          max-width: 95%;
          margin: 0 auto;
        }
      }

      H1 {
        margin: 0;
        padding: 0;
        font-size: 1em;
        font-family: $font_title_family;
        font-weight: $font_title_weight;
        @include animate(fadein 1s);
        @include outline_font($black, 4px);
      }
    }

    .image {
      grid-column: 1;
      grid-row: 2;
      overflow: hidden;
      @include flex_center_center;

      IMG {
        max-width: none;
        min-height: 100%;
        width: 130%;
      }
    }

    @include desktop_device {
      grid-template-columns: 50vw 1fr;
      grid-template-rows: 60vh;
      height: 60vh;

      .image {
        grid-row: 1;
        grid-column: 2;

        IMG {
          max-height: 70vh;
          width: auto;
        }
      }

      .title {
        flex-direction: row;
        text-align: right;
        font-size: 6.5rem;

        H1 {
          font-size: 1em;
        }
      }
    }
  }
</style>
