<template>
  <article>
    <section class="title">
      <h1>{{ bannerTitle }}</h1>
    </section>
    <section class="image">
      <img :src="imagePath" :alt="imageText">

      <a v-if="showProjectLink" :href="projectLink" class="icon project-link" target="_blank">
        <i class="fas fa-external-link-alt" />
      </a>

      <a v-if="showGithub" :href="githubLink" class="icon github-link" target="_blank">
        <i class="fab fa-github" />
      </a>

      <a v-if="showBitbucket" :href="bitbucketLink" class="icon bitbucket-link" target="_blank">
        <i class="fab fa-bitbucket" />
      </a>
    </section>
  </article>
</template>

<script>
export default {
  props: {
    bannerTitle: {
      type: String,
      required: true,
      default: 'Title'
    },
    imagePath: {
      type: String,
      required: true,
      default: '/images/projects/banner.jpg'
    },
    imageText: {
      type: String,
      required: true,
      default: 'An image showing a Macbook between a notepad and pen and cup of coffee on a wooden table'
    },
    showProjectLink: {
      type: Boolean,
      required: false,
      default: false
    },
    projectLink: {
      type: String,
      required: false,
      default: ''
    },
    showGithub: {
      type: Boolean,
      required: false,
      default: false
    },
    githubLink: {
      type: String,
      required: false,
      default: ''
    },
    showBitbucket: {
      type: Boolean,
      required: false,
      default: false
    },
    bitbucketLink: {
      type: String,
      required: false,
      default: ''
    }
  }
}
</script>

<style lang="scss" scoped>
  ARTICLE {
    width: 100vw;
    height: 100vh;
    box-sizing: border-box;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 50vh 50vh;

    .title {
      grid-row: 1;
      font-family: $font_title_family;
      text-align: center;
      @include flex_center_end;
      flex-direction: column;
      padding: 1rem;
      box-sizing: border-box;

      H1 {
        font-weight: $font_title_weight;
        font-size: 3.7rem;
        margin: 0;
        line-height: 0.9em;
        @include outline_font($black, 3px);

        @include tablet_device {
          width: 90%;
          margin: 0 auto;
          font-size: 6rem;
        }
      }
    }

    .image {
      grid-row: 2;
      overflow: hidden;
      position: relative;
      @include flex_center_center;

      IMG {
        height: 100%;

        /* Change the dimensions as the screen changes */
        @include landscape_tablet_device {
          width: 110%;
          height: auto;
        }

        /* Adjust the image for desktop devices */
        @include desktop_device {
          width: 200%;
        }
      }

      A {
        position: absolute;
        width: 4rem;
        height: 4rem;
        font-size: 2rem;
        background-color: $white;
        color: $black;
        border-radius: 50%;
        @include flex_center_center;
        text-decoration: none;
        transition: 0.5s;
        transform: translate(-50%, -50%);

        -webkit-animation: upDownPadding 1s infinite  alternate;
        animation: upDownPadding 1s infinite  alternate;

        &:hover {
          width: 5rem;
          height: 5rem;
          font-size: 2.5rem;
          transition: 0.5s;
        }

        /* Add the colours to the different links and their positioning */
        &.project-link {
          background-color: $blue;
          color: $white;
          top: 30%;
          left: 40%;
          animation-delay: 0.25s;
        }

        &.bitbucket-link {
          background-color: $bitbucket;
          color: $white;
          top: 60%;
          left: 80%;
          animation-delay: 0.75s;
        }

        &.github-link {
          background-color: $github;
          color: $white;
          top: 80%;
          left: 20%;
          animation-delay: 0.75s;
        }

        /* Change the size of the icons depending on the screen size */
        @include tablet_device {
          width: 5rem;
          height: 5rem;
          font-size: 2.5rem;

          &:hover {
            width: 6rem;
            height: 6rem;
            font-size: 3rem;
          }
        }
      }
    }

    /* The split will need to be changed to be columns instead of rows */
    @include desktop_device {
      grid-template-rows: 60vh;
      grid-template-columns: 50vw auto;
      height: 60vh;

      .title {
        grid-row: 1;
        grid-column: 1;
        flex-direction: row;
        text-align: right
      }

      .image {
        grid-row: 1;
        grid-column: 2;
      }
    }
  }
</style>
