<template>
  <section class="banner">
    <section class="title">
      <h1>About</h1>
    </section>
    <section class="image">
      <img src="/images/about/banner.jpg" alt="">

      <!-- Add icons to my different social media and profiles -->
      <a href="#" target="_blank" class="linkedin">
        <i class="fab fa-linkedin" />
      </a>
      <a href="#" target="_blank" class="github">
        <i class="fab fa-github" />
      </a>
      <a href="#" target="_blank" class="bitbucket">
        <i class="fab fa-bitbucket" />
      </a>
    </section>
  </section>
</template>

<style lang="scss" scoped>
  .banner {
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template-rows: 50vh 50vh;

    @include desktop_device {
      height: 60vh;
      grid-template-rows: 60vh;
      grid-template-columns: 50vw 50vw;
    }

    .title {
      grid-row: 1;
      flex-direction: column;
      @include flex_center_end;
      font-size: 4rem;
      text-align: center;

      @include tablet_device {
        font-size: 6rem;
      }

      @include desktop_device {
        flex-direction: row;
        text-align: right;
      }

      H1 {
        margin: 0;
        padding: 0;
        display: block;
        line-height: 0.8em;
        margin-bottom: 2rem;
        font-family: $font_title_family;
        font-weight: 900;
        max-width: 90%;
        @include animate(fadein 1s);
        @include outline_font($black, 4px);
        font-size: 4rem;

        @include landscape_tablet_device {
          max-width: 60%;
        }

        @include desktop_device {
          margin-bottom: 0;
          margin-right: 0.5rem;
          max-width: 85%;
          font-size: 6.5rem;
        }
      }
    }

    .image {
      @include flex_center_center;
      flex-direction: column;
      overflow: hidden;
      position: relative;

      IMG {
        min-width: 100%;
      }

      A {
        position: absolute;
        @include flex_center_center;
        color: $white;
        text-decoration: none;
        height: 4rem;
        width: 4rem;
        background-color: $blue;
        font-size: 2rem;
        border-radius: 50%;
        transform: translate(-50%, -50%);
        transition: 0.5s;

        -webkit-animation: upDownPadding 1s infinite  alternate;
        animation: upDownPadding 1s infinite  alternate;

        &.linkedin {
          background-color: $linkedin;
          top: 40%;
          left: 25%;
          animation-delay: 0.5s;
        }

        &.github {
          background-color: $github;
          top: 80%;
          left: 60%;
          animation-delay: 1s;
        }

        &.bitbucket {
          background-color: $bitbucket;
          top: 22%;
          left: 80%;
          animation-delay: 0.25s;
        }

        &:hover {
          width: 4.5rem;
          height: 4.5rem;
          font-size: 2.5rem;
          transition: 0.5s;
        }

        @include tablet_device {
          width: 7rem;
          height: 7rem;
          font-size: 4rem;

          &:hover {
            width: 8rem;
            height: 8rem;
            font-size: 5rem;
          }
        }

        @include landscape_tablet_device {
          width: 6rem;
          height: 6rem;
          font-size: 3rem;
        }
      }
    }
  }
</style>
