<template>
  <article class="education">
    <section class="title">
      <h2>Education</h2>
    </section>
    <section class="content">
      <div class="education_item">
        <div class="header">
          <div class="background">
            <img src="/images/about/edge_hill_background.png" alt="A screenshot of the blended learning platform">
          </div>
          <div class="logo">
            <img src="/images/about/edge_hill.png" alt="Edge Hill University Crest">
          </div>
        </div>
        <div class="details">
          <div class="name">
            <h3>Edge Hill University <span>(2016 - Present)</span></h3>
          </div>
          <p>
            At Edge Hill University I studied Web Design and Development. During the four years I studied at Edge Hill I took part in
            various modules which allowed me to understand the concepts behind usability, design and development. One of the modules that
            that stands out as a favorite is the module on client and server-side scripting.
          </p>
          <p>
            The client and server-side scripting module introduced me to the Laravel, a PHP framework, which was used to build a questionnaire platform.
            Using system designs such as use-case diagrams and class diagrams. While completing the coursework it became clear that I prefered working
            with backend technologies such as MySQL and PHP.
          </p>
        </div>
      </div>
      <div class="education_item">
        <div class="header">
          <div class="background">
            <img src="/images/about/derby_college_background.png" alt="A screenshot of the first live site I made during college">
          </div>
          <div class="logo">
            <img src="/images/about/derby_college.jpg" alt="Derby College Logo">
          </div>
        </div>
        <div class="details">
          <div class="name">
            <h3>Derby College <span>(2014 - 2016)</span></h3>
          </div>
          <p>
            After studying network and system support as a BTEC I completed modules such as Humand Computer Interaction and Website Design. These modules, along
            with modules such as computer networks, allowed me to realise that I prefered the codeing aspect of my course. Therefore, at the beginning of the second year
            I opted to study web design and development at Edge Hill University.
          </p>
          <p>
            The website design module was on of my favorite modules and was one that made me look into using more technology in with my coursework. The main piece of coursework
            involved creating a website for a fake client. However, the tutor had also had a live client who required a website. I was given the challenge, along with some of my
            other class mates, to design and build them a website. The client decided to go with my website, which can be found at
            <a href="http://www.skinsolutionsjs.co.uk/" target="_blank">www.skinsolutionsjs.co.uk</a>
          </p>
        </div>
      </div>
    </section>
  </article>
</template>

<style lang="scss" scoped>
 ARTICLE.education {
    background-color: $white;
    border-top: 1px solid $white;
    box-sizing: border-box;
    text-align: center;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 12rem auto;

    H2 {
      font-size: 2.75rem;
      margin: 3rem 0;
      @include outline_font($black, 3px);
    }

    SECTION.title {
      @include flex_center_center;
    }

    SECTION.image {
      width: 100%;
      overflow: hidden;
      @include flex_center_center;
      display: none;

      IMG {
        width: 100%;
      }
    }

    SECTION.content {
    }

    .education_item {
      @include landscape_tablet_device {
        text-align: left;
        display: grid;
        grid-template-columns: 2fr 4fr;

        &:nth-child(even) {
          grid-template-columns: 4fr 2fr;
          background-color: $grey;

          .header {
            grid-column: 2;
            grid-row: 1;
          }

          .details {
            grid-column: 1;
            grid-row: 1;

            @include desktop_device {
              margin-left: 20%;
            }
          }
        }
      }

      .header {
        @include flex_center_center;
        flex-direction: column;
        font-weight: 700;
        font-size: 1.5rem;
        position: relative;
        height: 20rem;
        overflow: hidden;

        @include landscape_tablet_device {
          height: 100%;
        }

        .background {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          min-width: 100%;
          max-width: 200%;
          min-height: 20rem;
          max-height: 40rem;
          @include landscape_tablet_device {
              max-height: none;
              height: 100%;
          }

          IMG {
            min-width: 100%;
            max-width: 130%;
            min-height: 20rem;

            @include landscape_tablet_device {
              max-height: none;
              height: 100%;
              width: auto;
              max-width: none;
            }

            @include desktop_device {
              height:: 130%;
            }
          }
        }

        .logo {
          width: 10rem;
          height: 10rem;
          overflow: hidden;
          border-radius: 50%;
          background-color: $white;
          @include flex_center_center;
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);

          &.cleversteam {
            background-color: $cleversteam;
          }

          &.jot-web {
            background-color: $jot_web;
            color: $white;
          }

          IMG {
            max-height: 80%;
            max-width: 90%;
          }
        }

        &:first-of-type {
          margin-top: 0;
        }
      }

      .details {
        margin: 0;
        margin-bottom: 2rem;
        padding: 1rem;

        @include desktop_device {
          width: 75%;
        }

        .name {
          text-transform: uppercase;

          H3 {
            font-size: 2rem;
          }
        }

        A {
          color: $blue;
          text-decoration: none;

          &:hover {
            text-decoration: underline;
          }
        }
      }
    }

    @include desktop_device {
      SECTION {
        padding: 0;
        margin: 0 auto;
      }
    }
  }
</style>
