<template>
  <article class="skills">
    <div class="container">
      <section class="title">
        <h2>Skills</h2>
      </section>
      <section class="icons">
        <p>
          During my final year in primary school I buily my first computer, after a few other builds with different
          components I built myself a computer. Over the years I maintained it to keep it running smoothly. Taking care
          of the computer as it allowed me to start consider what I wanted to do once I left secondary school.
        </p>
        <p>
          Towards the end of my GCSEs my passion was computers. However, building them was no longer what I wanted to do.
          So I picked up a book on HTML and CSS as started to go through the tutorials and built my first website. During
          college I showed off my skills producing nice looking websites for my course work.
        </p>
        <p>
          Eventually I got bored of just making the websites look nice. I wanted to make them work using a back-end
          technology. I started to teach myself PHP to reduce the amount of code I would have to write. I started to
          use databases to store content, this became fun and ineteresting. During my second year at college I worked
          over two weeks with a team of classmates to build a secure document storage solution using PHP, without the
          use of a framework.
        </p>
        <p>
          After joining University I decided that it was in my best interest to participate in a placement year. However,
          I wanted to do something different. So I decided to apply to Cleversteam. Cleversteam trained me to use Ruby on
          Rails which is a back-end framework that they use. I have now been working with Ruby on Rails for two years and
          am constantly looking for ways to improve my knowlegde and grow my skillset.
        </p>
      </section>
      <section class="details">
        <!-- Section to see the rating for the different skills I have -->
        <div class="skill ruby">
          <div class="skill_icon">
            <rubyTag />
          </div>
          <div class="name">
            <h3>Ruby on Rails</h3>
          </div>
          <div class="progress" />
        </div>

        <div class="skill mysql">
          <div class="skill_icon">
            <mysqlTag />
          </div>
          <div class="name">
            <h3>MySQL</h3>
          </div>
          <div class="progress" />
        </div>

        <div class="skill javascript">
          <div class="skill_icon">
            <javascriptTag />
          </div>
          <div class="name">
            <h3>Javascript</h3>
          </div>
          <div class="progress" />
        </div>

        <div class="skill sass">
          <div class="skill_icon">
            <sassTag />
          </div>
          <div class="name">
            <h3>SASS</h3>
          </div>
          <div class="progress" />
        </div>

        <div class="skill nuxtjs">
          <div class="skill_icon">
            <nuxtTag />
          </div>
          <div class="name">
            <h3>NUXT JS</h3>
          </div>
          <div class="progress" />
        </div>

        <div class="skill postgresql">
          <div class="skill_icon">
            <postgresqlTag />
          </div>
          <div class="name">
            <h3>Postgresql</h3>
          </div>
          <div class="progress" />
        </div>

        <div class="skill php">
          <div class="skill_icon">
            <phpTag />
          </div>
          <div class="name">
            <h3>PHP</h3>
          </div>
          <div class="progress" />
        </div>
      </section>
    </div>
  </article>
</template>

<script>
// Import the different components that will be used
import javascriptTag from '@/components/technology-tags/javascript-tag'
import sassTag from '@/components/technology-tags/sass-tag'
import rubyTag from '@/components/technology-tags/ruby-tag'
import phpTag from '@/components/technology-tags/php-tag'
import mysqlTag from '@/components/technology-tags/mysql-tag'
import postgresqlTag from '@/components/technology-tags/postgresql-tag'
import nuxtTag from '@/components/technology-tags/nuxt-tag'

export default {
  components: {
    javascriptTag,
    sassTag,
    rubyTag,
    phpTag,
    mysqlTag,
    postgresqlTag,
    nuxtTag
  }
}
</script>

<style lang="scss" scoped>
  .skills {
    background-color: $blue;
    color: $white;
    border: 1px solid $blue;
    padding: 2rem;

    .title {
      height: 6rem;
      @include flex_center_center;

      H2 {
        font-size: 3rem;
        @include outline_font($white, 3px);
      }
    }

    .details {
      @include flex_center_center;
      flex-direction: column;

      .skill {
        display: grid;
        width: 90%;
        grid-template-columns: 5rem auto;
        grid-template-rows: 3rem 1rem 1rem;

        > .skill_icon {
          grid-column: 1;
          grid-row: 1 / 4;
          @include flex_center_center;

          .icon {
            height: 4rem;
            width: 4rem;
            font-size: 1.75rem;
            border-radius: 50%;

            IMG {
              width: 3rem;
            }
          }
        }

        .name {
          grid-column: 2;
          grid-row: 1;
          @include flex_center_start;

          H3 {
            padding: 0;
            margin: 0;
          }
        }

        .progress {
          grid-column: 2;
          grid-row: 2;
          background-color: $grey;
          border-radius: 2rem;
          position: relative;
          overflow: hidden;

          &:after {
            content: '';
            display: inline-block;
            position: absolute;
            top: 0;
            left: 0;
            bottom: 0;
            width: 87%;
            height: 1rem;
            background-color: $ruby;
          }
        }

        /* Change the colours and width depending on the brand */
        &.mysql {
          .progress:after {
            background-color: $mysql_brand;
            width: 73%;
          }
        }
        &.javascript {
          .progress:after {
            background-color: $javascript;
            width: 68%;
          }
        }

        &.sass {
          .progress:after {
            background-color: $sass;
            width: 57%;
          }
        }

        &.nuxtjs {
          .progress:after {
            background-color: $nuxt;
            width: 54%;
          }
        }

        &.postgresql {
          .progress:after {
            background-color: #000;
            width: 34%;
          }
        }

        &.php {
          .progress:after {
            background-color: $php;
            width: 24%;
          }
        }
      }
    }

    @include landscape_tablet_device {

      .container {
        display: grid;
        grid-template-rows: 6rem auto;
        grid-template-columns: 1fr 1fr;
        max-width: 1200px;
        margin: 0 auto;

        .title {
          grid-column: 1 / 3;
          grid-row: 1;
        }

        .icons {
          grid-row: 2;
          grid-column: 1;
          display: block;
          position: relative;

          > SPAN {
            position: absolute;
            transform: translate(-50%, -50%);

            /* Position and size each of the icons */

            &.postgresql {
              top: 70%;
              right : 70%;

              .icon {
                width: 3rem;
                height: 3rem;
                border-radius: 50%;
              }
            }

            &.php {
              top: 80%;
              right: 75%;
            }

            &.nuxt {
              top: 60%;
              right: 60%;

              .icon {
                width: 4rem;
                height: 4rem;
                border-radius: 50%;

                IMG {
                  width: 3rem;
                }
              }
            }

            &.sass {
              top: 45%;
              right: 55%;

              .icon {
                width: 4.5rem;
                height: 4.5rem;
                font-size: 2rem;
                border-radius: 50%;
              }
            }

            &.js {
              top: 40%;
              right: 35%;

              .icon {
                width: 5rem;
                height: 5rem;
                font-size: 2.5rem;
                border-radius: 50%;
              }

              @include desktop_device {
                right: 37.5%;
              }
            }

            &.mysql {
              top: 20%;
              right: 35%;

              .icon {
                width: 6rem;
                height: 6rem;
                font-size: 3rem;
                border-radius: 50%;
              }

              @include desktop_device {
                right: 30%;
              }
            }

            &.ruby {
              top: 10%;
              right: 5%;

              .icon {
                width: 7rem;
                height: 7rem;
                font-size: 3.5rem;
                border-radius: 50%;
              }
            }
          }
        }

        .details {
          grid-column: 2;
          grid-row: 2;
        }
      }
    }
  }
</style>
