<template>
  <article class="work">
    <section class="title">
      <h2>Work History</h2>
    </section>
    <section class="content">
      <div class="work_item">
        <div class="header">
          <div class="background">
            <img src="/images/about/cleversteam_action.png" alt="Me in a grey shirt moving a post-it note on a project board in the Cleversteam office">
          </div>
          <div class="logo cleversteam">
            <img src="/images/about/cleversteam.png" alt="Cleversteam Logo">
          </div>
        </div>
        <div class="details">
          <div class="name">
            <h3>Cleversteam (2018 - Present)</h3>
          </div>
          <p>
            Started at Cleversteam as a placement student and stayed on part-time while I went back to University. I use Ruby on Rails, MySQL and Postgresql told help build
            the Work and Travel CRM that they offer. Working with a variety of clients who all have various levels of technical ability. This means that while working at
            Cleversteam I have had to think about how each client would like to use the new feature being built.
          </p>
          <p>
            I have also had the opportunity to pass on some of the knowledge I hold onto other members of the team. Teaching them and helping to develop their skills by sharing
            knowledge and reviewing their code in pull requests.
          </p>
          <div class="technologies">
            <rubyTag />
            <javascriptTag />
            <sassTag />
            <!-- Add in Ruby Logo -->
            <!-- Add in the MySQL logo -->
            <mysqlTag />
            <!-- Add in the Postgresql logo -->
            <postgresqlTag />
          </div>
        </div>
      </div>
      <div class="work_item">
        <div class="header">
          <div class="background">
            <img src="/images/about/jot_web_background.png" alt="A screenshot of some example PHP code on a black background">
          </div>
          <div class="logo jot-web">
            <span>JOT Web</span>
          </div>
        </div>
        <div class="details">
          <div class="name">
            <h3>JOT Web (2017)</h3>
          </div>
          <p>
            Working as a temporary developer for a small organisation who built websites on a small budget allowed me to start putting my skills to the test.
            I helped to deliver a project on time, which then allowed us to make massive improvements in usability and performance. It also allowed me to start
            working with others and start to develop my team working skills. While at JOT Web I was able to use my skills and then develop them further to make
            cleaner and easier to read code.
          </p>
          <div class="technologies">
            <!-- Add in php Logo -->
            <phpTag />
            <!-- Add in the MySQL logo -->
            <mysqlTag />
          </div>
        </div>
      </div>
    </section>
  </article>
</template>

<script>
import javascriptTag from '@/components/technology-tags/javascript-tag'
import sassTag from '@/components/technology-tags/sass-tag'
import rubyTag from '@/components/technology-tags/ruby-tag'
import phpTag from '@/components/technology-tags/php-tag'
import mysqlTag from '@/components/technology-tags/mysql-tag'
import postgresqlTag from '@/components/technology-tags/postgresql-tag'

export default {
  components: {
    javascriptTag,
    sassTag,
    rubyTag,
    phpTag,
    mysqlTag,
    postgresqlTag
  }
}
</script>

<style lang="scss" scoped>
  .work {
    width: 100%;
    margin: 0;
    padding: 0;
    background-color: $grey;
    color: $black;
    border-top: 1px solid $grey;
    box-sizing: border-box;
    text-align: center;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 12rem auto;

    H2 {
      font-size: 2.75rem;
      margin: 3rem 0;
      @include outline_font($black, 3px);
    }

    SECTION.title {
      @include flex_center_center;
    }

    SECTION.image {
      width: 100%;
      overflow: hidden;
      @include flex_center_center;
      display: none;

      IMG {
        width: 100%;
      }
    }

    SECTION.content {
    }

    .work_item {
      @include landscape_tablet_device {
        text-align: left;
        display: grid;
        grid-template-columns: 2fr 4fr;

        &:nth-child(even) {
          grid-template-columns: 4fr 2fr;
          background-color: $white;

          .header {
            grid-column: 2;
            grid-row: 1;
          }

          .details {
            grid-column: 1;
            grid-row: 1;

            @include desktop_device {
              margin-left: 20%;
            }
          }
        }
      }

      .header {
        @include flex_center_center;
        flex-direction: column;
        font-weight: 700;
        font-size: 1.5rem;
        position: relative;
        height: 20rem;
        overflow: hidden;

        @include landscape_tablet_device {
          height: 100%;
        }

        .background {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          min-width: 100%;
          max-width: 200%;
          min-height: 20rem;
          max-height: 40rem;
          @include landscape_tablet_device {
              max-height: none;
              height: 100%;
          }

          IMG {
            min-width: 100%;
            max-width: 130%;
            min-height: 20rem;

            @include landscape_tablet_device {
              max-height: none;
              height: 100%;
              width: auto;
              max-width: none;
            }

            @include desktop_device {
              height: 130%;
            }
          }
        }

        .logo {
          width: 10rem;
          height: 10rem;
          overflow: hidden;
          border-radius: 50%;
          background-color: $white;
          @include flex_center_center;
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);

          &.cleversteam {
            background-color: $cleversteam;
          }

          &.jot-web {
            background-color: $jot_web;
            color: $white;
          }

          IMG {
            max-height: 80%;
            max-width: 90%;
          }
        }

        &:first-of-type {
          margin-top: 0;
        }
      }

      .details {
        margin: 0;
        margin-bottom: 2rem;
        padding: 1rem;

        @include desktop_device {
          width: 75%;
        }

        .name {
          text-transform: uppercase;

          H3 {
            font-size: 2rem;
          }
        }

        A {
          color: $blue;
          text-decoration: none;

          &:hover {
            text-decoration: underline;
          }
        }
      }
    }

    @include desktop_device {
      SECTION {
        padding: 0;
        margin: 0 auto;
      }
    }

    .technologies {
      display: flex;

      > DIV {
        margin-right: 0.5rem;
      }
    }
  }
</style>
