<template>
  <div class="icon">
    <i class="fab fa-js-square" />
  </div>
</template>

<script>
export default {
}
</script>

<style lang="scss" scoped>
  .icon {
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 1.25rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $javascript;
    color: $javascript_text;
  }
</style>
