<template>
  <div class="icon">
    <img src="/images/icons/nuxt-light.svg" alt="NUXT JS Icon">
  </div>
</template>

<script>
export default {
}
</script>

<style lang="scss" scoped>
  .icon {
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 1.25rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $nuxt;
    color: $nuxt_text;

    IMG, SVG {
      width: 1.3rem;
    }
  }

  .skills {
    .icons {
      IMG {
        width: 2rem;
      }
    }
    .details .skill > .skill_icon > DIV.icon IMG {
      width: 2rem;
    }
  }
</style>
