<template>
  <div class="icon">
    <img src="/images/icons/postgresql.svg" alt="Postgresql">
  </div>
</template>

<script>
export default {
}
</script>

<style lang="scss" scoped>
  .icon {
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 1.25rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $grey;

    IMG {
      width: 1.25rem;
    }
  }

  .skills .details .skill > .skill_icon > DIV.icon IMG {
    width: 2rem;
  }
</style>
